In [5]:
# !pip install pandas numpy scikit-learn

In [8]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score

In [11]:
df = pd.read_csv('../data/pricerunner_aggregate.csv', 
                names=['product_id','product_title','vendor_id','cluster_id',
                       'cluster_label','category_id','category_label'])
df.head()

,product_id,product_title,vendor_id,cluster_id,cluster_label,category_id,category_label
0,1,apple iphone 8 plus 64gb silver,1,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
1,2,apple iphone 8 plus 64 gb spacegrau,2,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
2,3,apple mq8n2b/a iphone 8 plus 64gb 5.5 12mp sim...,3,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
3,4,apple iphone 8 plus 64gb space grey,4,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
4,5,apple iphone 8 plus gold 5.5 64gb 4g unlocked ...,5,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones

In [12]:
df.category_label.value_counts().to_frame()

                  count
category_label
Fridge Freezers    5501
Mobile Phones      4081
Washing Machines   4044
CPUs               3862
Fridges            3584
TVs                3564
Dishwashers        3424
Digital Cameras    2697
Microwaves         2342
Freezers           2212

In [14]:
count_vec = CountVectorizer()

In [15]:
bow = count_vec.fit_transform(df['product_title'])

In [16]:
bow = np.array(bow.todense())

In [17]:
type(bow)

numpy.ndarray

In [18]:
bow.shape

(35311, 19400)